/* global variables */

:root {
    --primary-color:#f15025;
    --main-black:#222;
    --main-white:#fff;
    --off-white:#f7f7f7;
    --dark-grey:#afafaf;
    --main-transition:all 0.3s linear;
    --main-spacing:0.2rem;
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace;
    color: var(--main-black);
    background: var(--main-white);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,h2,h3 {
    text-transform: capitalize;
    letter-spacing: var(--main-spacing);
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 0;
}

p {
    font-weight: 300;
    font-size: 0.7rem;
    line-height: 2;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    border: 3px solid var(--primary-color);
    margin: 3rem;
    transition: var(--main-transition);
    color: var(--primary-color);
}

.btn:hover {
    color: var(--main-white);
    background: var(--primary-color);
}

/* main-navbar */
.main-navbar {
    background: var(--dark-grey);
    text-transform: capitalize;
    padding: 0 2rem;
}

.main-navbar li {
    list-style: none;
}

.main-navbar a {
    font-weight: 400;
    display: block;
    color: var(--primary-color);
    padding: 1rem 0;
    letter-spacing: var(--main-spacing);
    transition: var(--main-transition);
}

.main-navbar a:hover {
    color: var(--main-black);
}

@media screen and (min-width:992px) {
    .main-navbar ul{
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    
}

/* hero.html */

.hero-header {
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--main-white);
    display: grid;
    align-items: center;
    justify-items: center;
}

.hero-banner {
    padding: 0 1rem;
}

.hero-banner p{
    max-width: 560px;
    width: 80%;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .hero-header {
        background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0,0,0,0.75)),url('./images/image-2.jpeg') center/cover fixed no-repeat;
    }
}